.hero {
    max-width: 1400px;
    margin-inline: auto;
    display: flex;
    padding: 88px 32px;
    gap: 180px;
}

/* image */
.hero img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

/* userinfo */
.hero__userinfo h1 {
    font-size: 112px;
    font-weight: 600;
    line-height: 125px;
    margin-bottom: 40px;
    letter-spacing: -1px;
}

.hero__userinfo p {
    max-width: 85%;
    color: var(--paragraph-color);
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.hero__userinfo .paragraph-1 {
    margin-bottom: 24px;
}

/* Email button */
.hero__email {
    display: none;
}

.hero__email .link {
    display: inline-block;
    font-weight: 600;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 12px 24px;
    border-radius: 100px;
    text-decoration: none;
}

/* Media Queries (tablet) */
@media (max-width: 1400px) {
    .hero {
        max-width: 810px;
        gap: 80px;
    }

    .hero img {
        width: 250px;
        height: 250px;
    }

    .hero__userinfo h1 {
        font-size: 72px;
        line-height: 87px;
    }

    .hero__userinfo p {
        max-width: 100%;
    }
}

/* Media Queries (mobile) */
@media (max-width: 810px) {
    .hero {
        padding: 40px 20px;
        flex-direction: column;
        gap: 40px;
    }

    .hero__userinfo h1 {
        font-size: 64px;
        line-height: 77px;
        margin-bottom: 20px;
    }

    .hero__userinfo p {
        margin-bottom: 20px;
    }

    .hero__email {
        display: block;
    }
}