figure {
    max-width: 100vw;
    padding-inline: 8px;
}

video {
    width: 100%;
    border-radius: 40px;
}

@media (max-width: 810px) {
    video {
        border-radius: 28px;
    }
}